<h1>new participation view page</h1>

<h5>Fidelity program name:</h5>
<p><%= @inscription.fidelity_program.name %></p>
<h5>Member ID:</h5>
<p><%= @inscription.user.email %></p>

<div id="points" data-controller="balance-check">
<h5>Solde actuel:</h5>
<% @inscription.participations.each do |participation| %>
<% @sum += participation.points %>
<% end %>
<p data-balance-check-target="balance"><%= @sum %></p>

<br>
<br>

<div id="participation-form" data-controller="toggle-participation">
<form>
  <input type="radio" id="html" name="participation" value="add" data-action="click->toggle-participation#showAdd">
  <label for="add">Add points</label><br>
  <input type="radio" id="css" name="participation" value="deduct" data-action="click->toggle-participation#showDeduct">
  <label for="deduct">Deduct points</label><br>
</form>

<div style="display:none" data-toggle-participation-target="add">
<%= simple_form_for [@fidelity_program, @inscription, @participation] do |f| %>
  <%= hidden_field_tag "mode", "add" %>
  <%= f.input :points, label: "Points to add", input_html: { min: '0', max: '100', step: '10' } %>
  <%= f.button :submit, "Validate" %>
<% end %>
</div>

<div style="display:none" data-toggle-participation-target="deduct">
<%= simple_form_for [@fidelity_program, @inscription, @participation] do |f| %>
  <%= hidden_field_tag "mode", "deduct" %>
  <%= f.input :points, label: "Points to deduct",  input_html: { min: '0', max: '100', step: '10', data: {
    balance_check_target: "value",
    action: "click->balance-check#balanceCheck"
  } } %>
  <%= f.button :submit, "Validate", data: {
    balance_check_target: "button"
  } %>
<% end %>
<span data-balance-check-target="message"></span>
</div>
</div>
</div>

<br>
<br>

