<h1>new participation view page</h1>

<h5>Fidelity program name:</h5>
<p><%= @inscription.fidelity_program.name %></p>
<h5>Member ID:</h5>
<p><%= @inscription.user.email %></p>

<div id="points" data-controller="balance-check">
<h5>Solde actuel:</h5>
<% @inscription.participations.each do |participation| %>
<% @sum += participation.points %>
<% end %>
<p data-balance-check-target="balance"><%= @sum %></p>

<br>
<br>

<div id="participation-form" data-controller="toggle-participation">
<form>
  <input type="radio" id="html" name="participation" value="add" data-action="click->toggle-participation#showAdd">
  <label for="add">Add points</label><br>
  <input type="radio" id="css" name="participation" value="deduct" data-action="click->toggle-participation#showDeduct">
  <label for="deduct">Deduct points</label><br>
</form>

<div style="display:none" data-toggle-participation-target="add">
<%= simple_form_for [@fidelity_program, @inscription, @participation] do |f| %>
  <%= hidden_field_tag "mode", "add" %>
  <%= f.input :points, label: "Points to add", input_html: { min: '0', max: '100', step: '5' } %>
  <%= f.button :submit, "Validate" %>
<% end %>
</div>

<div style="display:none" data-toggle-participation-target="deduct">
 <div id="p-rewardlists">
    <ul>
      <% @fidelity_program.rewards.each do |r| %>
        <% if r.points_required <= @sum %>
          <li><%= r.name %>
          <%= r.description %>
          <%= r.points_required %></li>
          <% else %>
          <p>Vous n'avez pas encore cumulé assez de points</p>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= form_tag(fidelity_program_inscriptions_path(@fidelity_program), method: :post) do %>
  <%= submit_tag("Confirmer") %>
<% end %>
</div>
</div>
</div>

<br>
<br>
