<div id="header-signIn">
  <h2 id="logo-signIn">LOOPS</h2>
  <p>Sign up to your account</p>
  <div class="header-signup">
    <h3>Have an account?</h3>
    <%= render "devise/shared/links" %>
  </div>
</div>

<div class="signIn-container">
  <div class="form-signIn-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <p>Email</p>
        <%= f.input :email,
                    required: true,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email",class: "input-form" }%>
        <p>Password</p>
        <%= f.input :password,
                    label: false,
                    required: true,
                    input_html: { autocomplete: "new-password",class: "input-form" } %>
        <p>Password Confirmation</p>
        <%= f.input :password_confirmation,
                    label: false,
                    required: true,
                    input_html: { autocomplete: "new-password",class: "input-form" } %>
        <p>Vous êtes ?</p>
        <%= f.input :role, as: :radio_buttons, collection: ["merchant","customer"],
                    required: true,
                    legend_tag: false,
                    input_html: { autocomplete: "new-password",class: "radio-inputs" } %>
      <%= hidden_field_tag :fidelity_program_id, params[:id] if params[:id].present? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-logIn"%>
      </div>
    <% end %>
  </div>
</div>
