<div id="all-header-signIn">
  <h2>LOOPS</h2>

</div>

<div class="signIn-container">
  <div class="form-signIn-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>


      <div class="input-with-icon1">
        <i class="fas fa-envelope"></i>
        <%= f.input :email,
                    required: true,
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email",class: "input-form1",placeholder: "JulienDore@gmail.com" }%>
      </div>


      <div class="input-with-icon2">
        <i class="fa-solid fa-key"></i>
        <%= f.input :password,
                    label: false,
                    required: true,
                    input_html: { autocomplete: "new-password",class: "input-form2", placeholder: "Mot de passe" } %>
      </div>
        <%= f.input :password_confirmation,
                     label: false,
                     required: true,
                     input_html: { autocomplete: "new-password",class: "input-form" } %>
        <p>Vous êtes ?</p>
        <%= f.input :role, as: :radio_buttons, collection: ["merchant","customer"],
                    required: true,
                    legend_tag: false,
                    input_html: { autocomplete: "new-password",class: "radio-inputs" } %>
      <%= hidden_field_tag :fidelity_program_id, params[:id] if params[:id].present? %>
      <div class="btn-signup">
        <%= f.button :submit, "Inscription", class: "btn-logIn"%>
      </div>
    <% end %>
  </div>
</div>

<div class="btn-signUp">
    <p>Vous avez déjà un compte?</p>
    <%- if controller_name != 'sessions' %>
    <%= link_to "Connectez-vous", new_session_path(resource_name), class: "signUp-link" %><br />
    <% end %>
  </div>
