
<div class="input-container">
  <p>Produit</p>
  <%= f.input :name, label: false %>
</div>
<div class="input-container">
  <p>Description</p>
  <%= f.input :description, label: false %>
</div>
<div class="input-container">
  <p>Points requis</p>
  <%= f.input :points_required, label: false, input_html: { min: '0', max: '100', step: '5' }, class: "haha" %>
</div>

<%= f.hidden_field :_destroy %>

<div class="reward-button">
  <%= add_associated_record(tag: :div, html: {id: "add-super-reward", class: "flex"}) do %>
    <button class="add-button">
      <p>Ajouter un produit</p>
      <i class="fas fa-plus"></i>
    </button>
  <% end %>

  <button class="delete">
    <%= remove_associated_record(tag: :div) do %>
      Supprimer
    <% end %>
  </button>
</div>
