<%= render 'shared/burger_menu' %>

<div class="s-i-head">
  <div class="container">
    <div class="sih-link">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to "Retour", root_path, class: "back-btn" %>
    </div>

    <div class="sih-info">
    <h1>Récupérez votre récompense</h1>
    </div>
  </div>
</div>

<div id="rs-body" class="container">
  <div id="rs-title">
    <div id="rs-name">
      <p><%= @reward.name %></p>
    </div>
    <div id="rs-description">
      <p><%= @reward.description %></p>
    </div>
  </div>
  <div id="rs-center">
    <div id="rs-logo">
      <div class="ri-reward-img">
        <div class="ri-image-wrapper">
            <%= image_tag @reward.name == "boisson" ? "boisson.png" : "sushi2.png" %>
          </div>
      </div>
    </div>

    <div id="rs-points">
    <div>
    <p><%= @reward.points_required %></p>
    </div>
    <div><span class="mdi--star-four-points-circle"></span></div>
    </div>
  </div>

  <div id="rs-foot">
    <%= form_with url: redeem_points_path(@fidelity_program, @inscription), method: :post do %>
      <%= hidden_field_tag :points, @reward.points_required %>
      <%= hidden_field_tag :name, @reward.name %>
      <%= hidden_field_tag :fidelity_program_id, @fidelity_program.id %>
      <%= hidden_field_tag :inscription_id, @inscription.id %>
      <%= submit_tag "Récupérer", class: "td-none", id: "rs-btn" %>
    <% end %>
  </div>
</div>
