<div class="side-bar" data-controller="navbutton" >
  <div class="side-container">
    <div class="section active" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-house nav-icon"></i>
      </div>
      <%=  link_to "Accueil", pages_home_path, class:"link" %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-handshake nav-icon"></i>
      </div>
        <%= link_to "Programme", fidelity_programs_exist? ? fidelity_programs_path : new_fidelity_program_path, class:"link", data: {turbo: :false} %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-circle-user nav-icon"></i>
      </div>
        <%= link_to "Clients", customers_path, class:"link" %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-shop nav-icon"></i>
      </div>
      <%= link_to "Établissement", etablissement_path, class:"link" %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement">
      <div class="nav-i-container">
        <i class="fa-solid fa-chart-simple nav-icon"></i>
      </div>
      <%= link_to "Performances", performances_path, class:"link" %>
    </div>
    <div class="section" data-action="click->navbutton#change" data-navbutton-target="navElement" >
      <div class="nav-i-container">
        <i class="fa-solid fa-gear nav-icon"></i>
      </div>
      <%= link_to "Paramètres", settings_path, class:"link" %>
    </div>
  </div>
</div>
