<%= render 'shared/burger_menu' %>

<div class="s-i-head">
  <div class="container">
    <div class="sih-link">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to "Retour", root_path, class: "back-btn" %>
    </div>

    <div class="sih-info">
    <h1>Mes récompenses</h1>
    <p>Retrouvez la liste des récompenses proposées par le programme</p>
    </div>
  </div>
</div>

<div id="points-reward" >

  <div id="reward-container">

    <div id="rc-title">
      <p>Mes points</p>
    </div>
    <div id="rc-sum">
      <% @inscription.participations.each do |p| %>
        <% @sum += p.points %>
      <% end %>
      <p data-redeem-points-target="balance"><%= @sum %>
      <span class="mdi--star-four-points-circle"></span></p>
    </div>

  </div>

  <div id="reward-cards" data-controller="reward-card">
    <% @rewards.each do |r| %>
    <div class="reward-card" data-action="click->reward-card#cardClick" >
      <div class="ri-reward-img">
        <div class="ri-image-wrapper">
            <%= image_tag r.name.downcase == "boisson" ? "boisson.png" : "sushi2.png" %>
          </div>
      </div>
      <div class="reward-info">
        <div class="ri-name">
          <p><%= link_to "#{r.name}", fidelity_program_reward_path(@fidelity_program, r), class: "td-none", data: { reward_card_target: "link" } %></p>
        </div>
        <div class="ri-description">
          <p><%= r.description %></p>
        </div>
      </div>
      <div class="reward-points">
        <p><%= r.points_required %></p>
        <span class="mdi--star-four-points-circle">
      </div>
    </div>
    <% end %>
  </div>
</div>
