<% if current_user.role == "merchant" %>

<div class="main-home">
  <div class="text-home">
    <p>Hello, <span><%= current_user.name %></span></p>
    <br>
    <h1>Résumé du jour</h1>
  </div>

  <div class="cards">
    <div class="card">
      <span>Clients Inscrits</span>
      <% if @fidelity_program.present? %>
        <p><%= @fidelity_program.inscriptions.count %></p>
      <% else %>
        <p>0</p>
      <% end %>
      <span></span>
    </div>
    <div class="card">
      <span>Points cumulés</span>
        <p>0</p>
      <span></span>
    </div>
    <div class="card">
      <span>Récompenses utilisés</span>
      <p>0</p>
      <span></span>
    </div>
  </div>

  <div class="main-content">
    <div class="program-container">
      <div class="program-header">
        <% if @fidelity_program.present? %>
          <p>Programme en cours</p>
          <div id="status-container" >
              <p>Statut</p>
              <div class="fp-on" id="green-round"></div>
          </div>
        <% end %>
      </div>
      <div class="text-program">
        <% if @fidelity_program.present? %>
          <h2><%= @fidelity_program.name %></h2>
        <% else %>
          <p>Vous n’avez pas encore créé votre programme de fidélité.</p>
        <%= link_to 'Aller sur programme', landing_path , class:"create-btn" %>
        <% end %>
        <% if @fidelity_program.present? %>
          <p> Actif depuis: <%= @fidelity_program.created.strftime("%d-%m-%Y") %></p>
        <% end %>
      </div>
    </div>
    <div class="shortcuts-container">
      <div class="text-shortcut">
        <p>Actions rapides</p>
      </div>
      <div class="fast-container">
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>

</div>



  <% else %>


<div class="main-programm">
  <div class="programm-header">
    <h1>Mes programmes</h1>
    <div class="input-div">
      <input type="text" id="search-input", placeholder="Cherchez votre programme">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>


    <% current_user.inscriptions.each do |i| %>
      <%= link_to fidelity_program_inscription_path(i.fidelity_program.id, i), class: "programm-container" do %>
        <%= i.fidelity_program.name %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    <% end %>

</div>


<% end %>
