<% if current_user.role == "merchant" %>

<div class="main-home">
  <div class="text-home">
    <p>Bonsoir, <span>Lily</span></p>
    <h1>Résumé du jour</h1>
  </div>

  <div class="cards">
    <div class="card">
      <span>Clients Inscrits</span>
      <% if @fidelity_program.present? %>
        <p><%= @fidelity_program.inscriptions.count %></p>
      <% else %>
        <p>0</p>
      <% end %>
      <span></span>
    </div>
    <div class="card">
      <span>Points cumulés</span>
        <p>0</p>
      <span></span>
    </div>
    <div class="card">
      <span>Récompenses utilisés</span>
      <p>0</p>
      <span></span>
    </div>
  </div>

  <div class="main-content">
    <div class="program-container">
      <div class="program-header">
        <% if @fidelity_program.present? %>
          <p>Programme en cours</p>
          <div id="status-container" >
              <p>Statut</p>
              <div class="fp-on" id="green-round"></div>
          </div>
        <% end %>
      </div>
      <div class="text-program">
        <% if @fidelity_program.present? %>
          <h2><%= @fidelity_program.name %></h2>
        <% else %>
          <p>Vous n’avez pas encore créé votre programme de fidélité.</p>
        <%= link_to 'Aller sur programme', landing_path , class:"create-btn" %>
        <% end %>
        <% if @fidelity_program.present? %>
          <p> Actif depuis: <%= @fidelity_program.created %></p>
        <% end %>
      </div>
    </div>
    <div class="shortcuts-container">
      <div class="text-shortcut">
        <p>Actions rapides</p>
      </div>
      <div class="fast-container">
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="shortcut-container">
          <i class="fa-solid fa-user icon"></i>
          <span>Information compte</span>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>

</div>



  <% else %>



  <h1>Loops customer view</h1>

  <p>à ajouter :</p>

  <ul>
    <li>total points acquis</li>
    <li>historique des récompenses</li>
  </ul>

  <%= link_to "Mes récompenses", customers_rewards_path %>
  <%= link_to "Mes scans", customers_scans_path %>
  <%= link_to "Établissement", customers_etablissement_path %>

  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>


  <% end %>
