<%= turbo_frame_tag :show_clients do %>

<div class="customer-container">
  <h1>Liste des clients </h1>
  <div class="filterbar">
     <div id="filter-icon">
        <i class="fa-solid fa-filter"></i>
      </div>
    <div class="container-filter">
        <p>Filter By</p>
    </div>
    <div class="container-filter">
      <div >
      Date
      </div>
      <div class="icons">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div class="container-filter">
      <div>
      Order Type
      </div>
      <div class="icons">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div class="container-filter">
      <div>
      Order Status
      </div>
      <div class="icons">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div id="reset-filter">
      <div class="icons">
        <i class="fa-solid fa-rotate-right"></i>
      </div>
      <div>
        Reset Filter
      </div>
    </div>
  </div>

  <div id="header-user">
      <div id="email">
        <div class="c-header">
          Email
        </div>
        <div class="c-body">
          <% @fidelity_programs.each do |program| %>
            <% program.inscriptions.each do |user| %>
              <div class="c-content">
              <%= link_to "#{user.user.email}", fidelity_program_inscription_path(@inscription)  %>
              <%= user.user.email %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="inscription">
        <div class="c-header">
          Date d'inscription
        </div>
        <div class="c-body">
          <% @fidelity_programs.each do |program| %>
            <% program.inscriptions.each do |user| %>
              <div class="c-content">
              <% if user.created == nil %>
              <p>N/A</p>
              <% else %>
              <%= user.created %>
              <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="other">
        <div class="c-header">
          Points
        </div>
        <div class="c-body">
          <% @fidelity_programs.each do |program| %>
            <% program.inscriptions.each do |i| %>
              <% i.participations.each do |p| %>
                <% @sum += p.points %>
              <% end %>
                <div class="c-content">
                  <%= @sum %>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="modifier">
        <div class="c-header">
          Modifier
        </div>
        <div class="c-body">
          <% @fidelity_programs.each do |program| %>
            <% program.inscriptions.each do |user| %>
              <div class="c-content">
                <i class="fa-solid fa-pen"></i>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
  <% end %>
</div>
