<h1>Show inscription view page</h1>

<p>nom du programme</p>
<%= @inscription.fidelity_program.name %>

<p>nombre de points</p>
<% @inscription.participations.each do |participation| %>
<% @sum += participation.points %>
<% end %>
<%= @sum %>

<br>

<%= link_to "Créer une participation", new_fidelity_program_inscription_participation_path(@fidelity_program, @inscription) %>

<p>Historique des événements</p>

<ul>
<% @inscription.participations.each do |event| %>
<li><%= event.created.strftime "%d/%m/%Y" %> - <%= event.points %></li>
<% end %>
</ul>

<%= simple_form_for [@fidelity_program, @inscription, @participation], enctype:"multipart/form-data"  do |f| %>
  <!-- [...] -->
  <%= f.input :photo, as: :file %>
  <!-- [...] -->
  <%= f.submit %>
<% end %>
