<%= render 'shared/burger_menu' %>



<div id="s-i-head">
  <div class="container">
    <div id="sih-link">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to "Retour", root_path, class: "back-btn" %>
    </div>

    <div id="sih-info">
    <h1><%= @inscription.fidelity_program.name %></h1>
    <p><%= @inscription.fidelity_program.user.business_name %></p>
    </div>
  </div>
</div>






<div id="s-i-body" class="container">
  <div id="sib-title">
    <p>Mes points<p>
  </div>
  <div id="sib-points">
    <div id="sib-number">
      <% @inscription.participations.each do |participation| %>
      <% @sum += participation.points %>
      <% end %>
      <%= @sum %>
    </div>
  </div>
</div>

<div id="s-i-btns" class="container"  data-controller="photo-input">
  <div id="si-rewards">
    <%= link_to "Mes récompenses", customers_rewards_path, class: "td-none" %>
  </div>
  <div id="si-history">
    <div class="upload-container" >
      <button id="custom-upload-button" class ="btn-pics" data-photo-input-target="button" display="block" data-action="click->photo-input#addPhoto">Choisir une photo</button>
      <%= simple_form_for [@fidelity_program, @inscription, @participation], enctype:"multipart/form-data"  do |f| %>
        <%= f.input :photo, as: :file, label: false, input_html:{id:"photo-upload", data:{ photo_input_target: "photo"}, class: "hidden-input"} %>
        <%= f.submit "Valider", style: "display: none", data:{ photo_input_target: "validate"} %>
      <% end %>
    </div>
  </div>


  <div id="file-check" style="display: none;" data-photo-input-target="check">
    <i class="fa-solid fa-check"></i>
    <span id="file-name" data-photo-input-target="file"></span>
  </div>
</div>
