

<p>nom du programme</p>
<%= @inscription.fidelity_program.name %>

<p>nombre de points</p>
<% @inscription.participations.each do |participation| %>
<% @sum += participation.points %>
<% end %>
<%= @sum %>

<br>

<%= link_to "Mes récompenses", customers_rewards_path %>

<%= link_to "Historique", history_path(@fidelity_program, @inscription) %>


<%= link_to "Mes programmes", root_path %>

<%= simple_form_for [@fidelity_program, @inscription, @participation], enctype:"multipart/form-data"  do |f| %>
  <!-- [...] -->
  <%= f.input :photo, as: :file, input_html:{class:"hidden-input", id:"photo-upload"} %>
  <label for="photo-upload">
    <div class="tabler--line-scan"></div>
  </label>
  <%= f.submit %>
<% end %>
