<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico">
    <title>Loops</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/69af44d716.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="582066662273-rk6t4se3r427hii1ng12jkf4c5nb10qc.apps.googleusercontent.com">

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
  </head>

  <body>
    <% unless devise_controller? || current_user.role == "customer" %>
      <%= render "shared/header"%>
    <% end %>
    <div class="main-container">
      <% unless devise_controller? || current_user.role == "customer" %>
        <%= render "shared/navbar"%>
      <% end %>
      <div id="test">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
