<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico">
    <title>Loops</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <script src="https://kit.fontawesome.com/69af44d716.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
  </head>

  <body>
      <%= render "shared/header"%>
    <% unless devise_controller? || current_user.role == "customer" %>
      <div class="main-container">
        <%= render "shared/navbar"%>
    <% end %>
        <div id="test">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
