<div class="main-form">

  <div class="form-container">
    <div class="timeline">
      <div class="circle" id="on"></div>
      <div class="bar"></div>
      <div class="circle"></div>
    </div>

    <div class="form-text">
      <h2>Programme Infos</h2>
      <p>Remplissez les informations pour le profil. Cela prendra quelques minutes. Vous aurez seulement besoin d'un passeport.</p>
    </div>
  </div>

  <div class="form-input">
    <%= simple_form_for @fidelity_program do |f| %>
      <!-- Nom du programme -->
      <div class="input-container first-input">
        <p>Nom du programme</p>
        <%= f.input :name, label: false, placeholder:"Le meilleur programme..." %>
      </div>

      <!-- Ratio euro/points -->
      <div class="input-container">
        <p>Ratio Euro/Points</p>
        <div class="ratio-container">
          <div class="euro-container">
            <p>1€</p>
          </div>
          <i class="fa-solid fa-equals"></i>
          <%= f.input :points_per_euro, label: false, placeholder:" 1 point" %>
        </div>
      </div>

      <!-- Récompenses -->
      <div class="reward-container">
        <div class="reward-text">
          <h3>Le produit offert</h3>
        </div>
        <div>
          <%= f.abyme_for(:rewards, partial: 'abyme/rewards_fields') do |abyme| %>
            <%= abyme.records %>
            <%= abyme.new_records %>
          <% end %>
        </div>
      </div>

      <!-- Bouton d'enregistrement -->
      <div class="submit-container">
        <%= f.submit 'Enregistrer', class: 'submit-button' %>
      </div>
    <% end %>
  </div>

</div>
