
<h1>FP show page</h1>

<h1><%= @fidelity_program.name %></h1>

<h4>QR code du programme à présenter aux clients :</h4>
<%= @svg.html_safe %>
<%= link_to "Delete", fidelity_program_path(@fidelity_program), data: {turbo_method: :delete, turbo_confirm: "Confirmer la suppression du programme ?"} %>
<br>
<%= link_to "Back", fidelity_programs_path %>

<ul>
<% @fidelity_program.rewards.each do |reward| %>
<li><%= reward.name %></li>

<% end %>

</ul>
