<div id="fp-s-main-container">
  <div id="fp-s-buttons">
    <%= link_to "Supprimer", fidelity_program_path(@fidelity_program), data: {turbo_method: :delete, turbo_confirm: "Confirmer la suppression du programme ?"}, class: "fp-s-delete" %>
    <%= link_to "Editer", edit_fidelity_program_path(@fidelity_program), class: "fp-s-edit", data: {turbo: :false} %>
  </div>


  <div id="fp-s-content">
    <div id="fp-s-upper">
      <div id="fp-s-left">
        <div id="fp-s-info">

          <div id="fp-s-name">
            <h1><%= @fidelity_program.name.upcase %></h1>
            <div id="fp-status">
            <p>Statut</p>
            <div >
            <% if @fidelity_program.active = true %>
            <div class="fp-on"></div>
            <% else %>
            <div class="fp-off"></div>
            <% end %>
            </div>
            </div>
          </div>

          <div id="fp-s-left-info">
          <div>
          <% if @fidelity_program.created == nil %>
            <p>N/A</p>
            <% else %>
            <p>Créé le : <%= @fidelity_program.created.strftime "%d/%m/%Y" %></p>
            <% end %>
          </div>
          <div>
            <p>Ratio points/euros : 1€ = <%= @fidelity_program.points_per_euro %> points</p>
          </div>
          </div>
        </div>
      </div>


      <div id="fp-s-qr-container">

        <div id="fp-s-qr-text">
          Présentez à vos clients :
        </div>
        <div id="fp-s-qrcode">
          <%= @svg.html_safe %>
        </div>

      </div>
    </div>

    <div id="fp-s-cards">
      <% @fidelity_program.rewards.each do |reward| %>
      <div id="fp-s-card">
        <div id="fp-s-card-info">
          <div>
            <%= reward.name.upcase %>
          </div>
        <div id="fp-s-card-pts">
          <%= reward.points_required %> PTS
        </div>
          </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
