<div id="fp-s-main-container">
  <div id="fp-s-buttons">
    <%= link_to "Delete", fidelity_program_path(@fidelity_program), data: {turbo_method: :delete, turbo_confirm: "Confirmer la suppression du programme ?"}, class: "fp-s-delete" %>
    <%= link_to "Edit", edit_fidelity_program_path(@fidelity_program), class: "fp-s-edit" %>
  </div>

  <div id="fp-s-content">
    <div id="fp-s-upper">
      <div id="fp-s-left">
        <div id="fp-s-info">

          <div id="fp-s-name">
            <h1><%= @fidelity_program.name.upcase %></h1>
            <p>Active</p>
          </div>

          <div id="fp-s-left-info">
            <p>created at : <%= @fidelity_program.created.strftime "%d/%m/%Y" %></p>
            <p>Point/euros ratio : 1€ = <%= @fidelity_program.points_per_euro %> points</p>
          </div>
        </div>
      </div>


      <div id="fp-s-qr-container">

        <div id="fp-s-qr-text">
          Présenter à vos clients :
        </div>
        <div id="fp-s-qrcode">
          <%= @svg.html_safe %>
        </div>

      </div>
    </div>

    <div id="fp-s-cards">
      <ul>
      <% @fidelity_program.rewards.each do |reward| %>
      <div id="fp-s-card">
        <li><%= reward.name %></li>
      </div>
      <% end %>
    </div>

    </ul>

  </div>
</div>
